body{
  background-color: #FBF1D0;
   pointer-events: all;
}
ul{
  list-style: none;
  display: inline-block;
}


/*
                            HEADER
*/
.pkgInformation{
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-align-items: center;
align-items: center;
-webkit-justify-content: center;
justify-content: center;
}

.header{
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.title{
  align-self: center;
  order: 1;
}
.name{
  font-size: 40px;
}
.version{
  font-size: 12px;
}
.gitStats{
  order: 2;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  font-family: monospace;
}
#stars{
  order: 1;
  font-family: sans-serif;
}
img{
  height: 15px;
  width: 15px;
}
.forks{
  order: 2;
  font-family: sans-serif;
}

#description{
  order: 3;
  text-align: center;
  width: 75%;
  font-family: sans-serif;
}

/*
                                 OUTDATED DEPENDENCIES
*/
.outdatedDependencies{
  order: 4;
  color: #c72210;
  font-family: monospace;
}
/*
                                SUB-SCORE
*/
.subScores{
  flex-direction: row;
  order: 1;
  font-size: 13px;
  font-family: sans-serif;
}
.qualityScore{
  order: 1;
}
.popularityScore{
  order: 2;
}
.maintenanceScore{
  order: 3;
}
/*
                               DEPENDENCIES
*/
.dependencies{
  margin: 0 auto;
  order: 2;
}
.node circle {
fill: #425351;
stroke: #2C2F32;
}
.node text {
font: 12px monospace;
}
.node--internal circle {
fill: #B5C68B;
}
.node--internal text {
text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}
.link {
fill: none;
stroke: #2C2F32;
stroke-opacity: 0.4;
stroke-width: 1.5px;
}
/*
                    GROUPED BAR CHART AND LEGEND
*/


.mainContainer{
  display: flex;
  flex-direction: row;

    -webkit-align-items: center;
    align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.scoreChart{
  /*margin-left: 100px;*/
  margin: 0 auto;
  overflow-x: auto;
}
.legend{
  width: 150px;
  font-family: monospace;
  font-weight: lighter;
}
.domain{
  visibility: hidden;
}

.axis{

  font-size: 14px;
}
