svg {
  font: 10px sans-serif;
}

.lineGraph path {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}



.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}
