/*@media (min-width:320px) {}

@media (min-width:801px)*/


/*can also use max-width and have the rules to apply in this brackets

@media screen and (max-width: 90px)
*/

ul{
  list-style: none;
  display: inline-block;
}

.pkgInformation{
  display: flex;
  flex-direction: column;
}

.title{
order: 1;

align-self: center;
text-align: center;
}
.name{
  font-size: 40px;
}
.version{
  font-size: 12px;
}

.gitStats{
  order: 2;
  align-self: center;

}
.subScores{
  flex-direction: row;
  order: 3;

}

.qualityScore{
  font-size: 7px;
  order: 1;
}
.popularityScore{
  font-size: 7px;
  order: 2;
}
.maintenanceScore{
  font-size: 7px;
  order: 3;
}










.mainContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.relatedPkg{
  width: 30%;
  order: 2;
  flex-direction: column;
}
.relatedList{
  order: 1;

}
.relatedSearch{
  order: 2;
}


.scoreChart{
  /*overflow: scroll;*/
  width: 30%;
  height: 400px;
  overflow-x: auto;
  order: 1;
}
