body{
  background-color: #FBF1D0;
   pointer-events: all;
}
ul{
  list-style: none;
  display: inline-block;
}

/*
                              HEADER
*/
.pkgInformation{
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  -webkit-align-items: center;
align-items: center;
-webkit-justify-content: flex-start;
justify-content: flex-start;
}

.header{
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 0;
}

.title{
  align-self: center;
  order: 1;
  margin-top: 0;
  margin-bottom: 0;
}
#name{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 0;
}
#version{
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.gitStats{
  order: 2;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  font-family: monospace;
  margin-top: 0;
  margin-bottom: 0;
}
#stars{
  order: 1;
  font-family: sans-serif;
}
img{
  height: 13px;
  width: 13px;
}
.forks{
  order: 2;
  font-family: sans-serif;
}

#description{
  order: 3;
  text-align: center;
  width: 75%;
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

#mount{
  /*I need to move this to the center and give big letters
  or another message that says loading in the center*/
}
/*
                             OUTDATED DEPENDENCIES
*/
.outdatedDependencies{
  order: 4;
  color: #c72210;
  font-family: monospace;
  margin-top: 0;
  margin-bottom: 0;
}

/*
                                SUB-SCORE
*/

.subScores{
  flex-direction: row;
  order: 1;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

#finalScore{
  /*order: ;*/
  text-align: center;
  font-size: 17px;
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.qualityScore{
  margin-top: 0;
  margin-bottom: 0;
  order: 1;
}
.popularityScore{
  margin-top: 0;
  margin-bottom: 0;
  order: 2;
}
.maintenanceScore{
  margin-top: 0;
  margin-bottom: 0;
  order: 3;
}
/*
                               DEPENDENCIES
*/


.dependencies{
  margin: 0 auto;
  order: 2;
  margin-top: 0;
  margin-bottom: 0;
}
.node--leaf circle {
fill: #425351;
stroke: #2C2F32;
}

.node--outdated circle {
fill: #c10303; /*#c72210;*/
stroke: #2C2F32;
}

.node text {
font: 12px monospace;
}
.node--internal circle {
fill: #B5C68B;
}
.node--internal text {
text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}
.link {
fill: none;
stroke: #2C2F32;
stroke-opacity: 0.4;
stroke-width: 1.5px;
}
/*
                        GROUPED BAR CHART AND LEGEND
*/


.mainContainer{
  display: flex;
  flex-direction: row;

    -webkit-align-items: center;
    align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.scoreChart{
  display: inline-block;
}
.scores{
  background-color: green;
}

.package{
  border: 1px #FBF1D0 solid;
  border-radius: 5px;
  display: inline-block;

}
.legend{
  font-family: monospace;
  font-weight: lighter;
}
.domain{
  visibility: hidden;
}

.label{
  font-size: 14px;
  font-family: sans-serif;
}


/*
                              ERROR
*/
.error{
  text-align: center;
  font-family: monospace;
  font-weight: lighter;
  color: #2C2F32;
  font-size: 40px;
  margin-top: 30vh;
}


#search {
  padding: 5px 0px;
  top: 5px;
  left: 10px;
  width: 100%;
  text-align: center;
}
#searchBar {
  vertical-align: top;
  width: 80%;
}
.searchIcon, .uploadIcon {
  height: 20px;
  width: 20px;
}
#searchButton, #uploadButton {
  vertical-align: top;
  height: 32px;
  margin-top: -1px;
}

a {
  text-decoration: none;
}

.node--leaf {
  cursor: pointer;
}

/*
Hack to hide file upload
*/

.hiddenFileUpload {
  position: absolute;
  margin-left: -45px;
  z-index: 9;
  opacity: 0;
  width: 90px;

}


/*

select2 hacks

*/
.select2-results {
  display: none !important;
}
.select2-results__option[aria-selected=true] {
    display: none;
}
