/*@media (min-width:320px) {}

@media (min-width:801px)*/


/*can also use max-width and have the rules to apply in this brackets

@media screen and (max-width: 90px)
*/

.container{

  height: 100vh;
  width: 100vw;
  border: 5px solid black;
  text-align: center;       /*use flex with text align- might sabea lot of probs  */

}

.scoreChart{
  /*overflow: scroll;*/
  width: 250px;
  height: 400px;
  overflow-x: auto;

}
